MAILGUN_KEY=key-xxxxxxxxxxxxxxxxxxxxxxxxx
MAILGUN_DOMAIN=xx.time2hack.com
MAILGUN_HOST=api.mailgun.net
MAILGUN_TEMPLATE=contact-form # this template should exist under MAILGUN_DOMAIN before sending mails
EMAIL_FROM=hello@timee2hack.com
EMAIL_TO=pankaj@time2hack.com
EMAIL_SUBJECT="Message for you via Contact Form"
EMAIL_SEND_BCC=true
RECAPTCHA_SITEKEY=xxxxxxxxxxxxxxxxxxxxxxxxx
RECAPTCHA_SECRETKEY=xxxxxxxxxxxxxxxxxxxxxxxxx
