MAILGUN_KEY=
MAILGUN_DOMAIN=
MAILGUN_HOST=
EMAIL_FROM=hello@timee2hack.com
EMAIL_TO=pankaj@time2hack.com
EMAIL_SUBJECT="Message for you via Contact Form"
EMAIL_SEND_BCC=true
RECAPTCHA_SITEKEY=
RECAPTCHA_SECRETKEY=
